@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
}
.rectangle31 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: #f2f2f2;
}
.mainHomeImg {
  background: url("../assets/homeDiv1Right.png");
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.blurBox {
  background: rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(9px);
}
.a {
  color: white !important;
}
.l1 {
  position: absolute;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #333333;
}
.l2 {
  position: absolute;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1aa6b7;
}
.content {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;

  color: #828282;
}
.getInTouchBtn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
  background: #1aa6b7;
  border-radius: 30px;
}
.getInTouchTxt {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.plusBtn {
  position: absolute;
}
.plusBtnTxt {
  position: absolute;
  width: fit-content;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.outProducts {
  position: absolute;
  width: fit-content;
  font-family: "Syne";
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1aa6b7;
}
.viewAllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #46c3d2;
  border-radius: 64px;
  border: 0;
  text-transform: uppercase;
}

/* .slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40.2985px 35.8209px;
  gap: 8.96px;

  width: 360px;
  height: 537.31px;


  background: #e9ebea;
  border-radius: 26.8657px;


  flex: none;
  order: 0;
  flex-grow: 0;
} */
@media (min-width: 1024px) {
  .rectangle31 {
    width: 50%;
    height: 135vh;
  }
  .mainHomeImg {
    top: 0;
    width: 50%;
    height: 135vh;
    left: 50%;
  }
  .blurBox {
    width: 100%;
    height: 174px;
    left: 604px;
  }
  .l1 {
    position: absolute;
    line-height: 19px;
    font-size: 16px;
    width: 233px;
    height: 19px;
    left: 80px;
    top: 240px;
  }
  .l2 {
    width: 496px;
    height: 86px;
    left: 80px;
    top: 270px;
    font-size: 36px;
    line-height: 43px;
  }
  .content {
    width: 505px;
    height: 145px;
    left: 80px;
    top: 375px;
    font-size: 20px;
    line-height: 29px;
  }
  .getInTouchBtn {
    padding: 14px 30px;
    gap: 8px;
    left: 80px;
    top: 520px;
    width: 288px;
    height: 47px;
  }
  .getInTouchTxt {
    width: 228px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
  }
  .plusBtn {
    left: 40px;
    top: 880px;
  }
  .plusBtnTxt {
    height: 19px;
    left: -60px;
    top: 728.02px;
    font-size: 18px;
    line-height: 19px;
    transform: rotate(-90deg);
  }
  .outProducts {
    /* border: 2px solid red; */
    width: 100%;
    height: 48px;
    left: 10vh;
    top: 140vh;
    font-size: 40px;
    line-height: 48px;
  }
  .viewAllBtn {
    position: absolute;
    width: 25vh;
    right: 0vh;
    top: 0;
    color: white;
    font-size: 15px;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .rectangle31 {
    width: 55%;
    left: -3vh;
    height: 60vh;
    z-index: 0;
  }
  .mainHomeImg {
    top: 0;
    width: 50%;
    height: 60vh;
    left: 50%;
  }
  .blurBox {
    width: 100%;
    height: 174px;
    left: 604px;
  }
  .l1 {
    position: absolute;
    line-height: 19px;
    font-size: 15px;
    width: 233px;
    height: 19px;
    left: 80px;
    top: 210px;
  }
  .l2 {
    width: 400px;
    height: 86px;
    left: 80px;
    top: 240px;
    font-size: 28px;
    line-height: 40px;
  }
  .content {
    /* border: 2px solid red; */
    width: 350px;
    height: 145px;
    left: 80px;
    top: 345px;
    font-size: 18px;
    line-height: 25px;
  }
  .getInTouchBtn {
    padding: 14px 30px;
    gap: 8px;
    left: 80px;
    top: 500px;
    width: 288px;
    height: 47px;
  }
  .getInTouchTxt {
    width: 228px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
  }
  .plusBtn {
    left: 40px;
    top: 640px;
  }
  .plusBtnTxt {
    height: 19px;
    left: -40px;
    top: 510px;
    font-size: 15px;
    line-height: 19px;
    transform: rotate(-90deg);
  }
  .outProducts {
    width: 100%;
    height: 48px;
    top: 63vh;
    padding-left: 4vh;
    font-size: 30px;
  }
  .viewAllBtn {
    position: absolute;
    /* width: 25vh; */
    padding: 1vh;
    right: 0vh;
    top: 0;
    color: white;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .mainHomeImg {
    position: absolute;
    width: 361px;
    height: 435px;
    top: 50vh;
    left: 2vh;
    right: 0;
    border-radius: 10px;
  }
  .rectangle31 {
    position: absolute;
    width: 100%;
    height: 115vh;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: #f2f2f2;
  }
  .blurBox {
    border: 2px solid green;
    display: none;
  }
  .a {
    color: #1aa6b7 !important;
    font-size: small;
  }
  .l1 {
    top: 18vh;
    left: 4vh;
    font-size: 12px;
    line-height: 14px;
  }
  .l2 {
    width: 292px;
    height: 58px;
    top: 20.5vh;
    left: 4vh;
    font-size: 24px;
    line-height: 29px;
  }
  .content {
    width: 40vh;
    top: 29vh;
    left: 4vh;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .getInTouchBtn {
    padding: 0;
    top: 35vh;
    left: 4vh;
    margin-top: 5vh;
    height: 6vh;
    width: 26vh;
    border-radius: 100px;
  }
  .getInTouchTxt {
    font-size: small;
  }
  .plusBtn {
    position: absolute;
    left: 4vh;
    top: 870px;
  }
  .plusBtnTxt {
    position: absolute;
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
    left: 95px;
    top: 885px;
    color: #1aa6b7;
    transform: rotate(0deg);
  }
  .outProducts {
    width: 100%;
    height: 48px;
    top: 63vh;
    padding-left: 4vh;
    font-size: 30px;
  }
  .viewAllBtn {
    position: absolute;
    /* width: 25vh; */
    padding: 1vh;
    right: 0vh;
    top: 0;
    color: white;
    font-size: 15px;
  }
}
